.App {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.exchanges {
  display: flex;
  flex-direction: row;
}
.exchange {
  width: 100%;
}
.exchange-prices {
  display: flex;
  flex-direction: row;
}
.exchange img {
  margin-bottom: 20px;
  width: 80%;
}

.crypto-logo img {
  width: 20%;
}

.recommend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
