.App {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  background-color: #d5dcfd;
  border-radius: 20px;
}

.exchanges {
  display: flex;
  flex-direction: row;
}
.exchange {
  width: 100%;
}
.exchange-prices {
  display: flex;
  flex-direction: row;
}
.exchange img {
  margin-bottom: 20px;
  width: 70%;
}

.crypto-logo img {
  width: 20%;
}

.recommendation {
  display: flex;
  flex-direction: row;
}
.recommend-crypto {
  width: 100%;
}
.recommend-exchange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.recommend-crypto img {
  margin-bottom: 20px;
  width: 30%;
}
.new p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
