.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.exchanges {
  display: flex;
  flex-direction: row;
  font-size: 26px;
}

.exchange {
  background-color: white;
  width: 100%;
}
.exchange img {
  margin-bottom: 20px;
  width: 80%;
}

.exchange-prices {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
}
.exchange-prices img {
  margin-left: 2rem;
  width: 33%;
}

.recommend {
  display: flex;
  flex-direction: column;
}
