.App {
  text-align: center;
}

.coinbase {
  font-family: Arial, Helvetica, sans-serif;
}

.kraken {
  font-family: "Times New Roman", Times, serif;
}

.recommend {
  font-family: "Courier New", Courier, monospace;
}
